/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

@import "react-toastify/dist/ReactToastify.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply !m-0 !p-0 !box-border !bg-white font-public-sans
}

/* scrollbar css  */

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-400 rounded-xl
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary-500 rounded-xl
}


/* Animations  */

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

:root {
  --swiper-navigation-size: 20px;
}

body {
  @apply !m-0 !p-0 !box-border bg-gray-100;
}

/* Swiper  */
.swiper-button-prev {
  @apply -ml-3 opacity-5
}

.swiper-button-next {
  @apply -mr-3 opacity-5
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-gray-700 sm:hidden
}

.swiper-pagination-bullet {
  @apply !w-2.5 !h-2.5 !rounded-full
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  @apply !w-auto bottom-0 left-0 hidden sm:block
}

.swiper-pagination-bullet-active {
  @apply !bg-gray-900
}

/* Mui css overwrite  */
.MuiChartsAxis-tick {
  @apply !hidden
}

.MuiChartsAxis-tickLabel tspan {
  @apply text-base-75 text-xs font-bold leading-130
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  @apply !shadow-primary !rounded border !border-gray-100
}

.MuiAccordionSummary-content.MuiAccordionSummary-contentGutters.css-o4b71y-MuiAccordionSummary-content {
  @apply !m-0
}

.css-1c35hjw-MuiPaper-root-MuiAccordion-root::before {
  @apply !hidden
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  @apply !bg-primary-500 !text-white
}

.MuiAccordionSummary-expandIconWrapper.css-yw020d-MuiAccordionSummary-expandIconWrapper {
  @apply !rotate-0
}

/* Toastify  */
.Toastify__toast-icon.Toastify--animate-icon.Toastify__zoom-enter {
  @apply !mt-0.5
}


/* Container for the image and overlay */
.image-container {
  position: relative;
  width: 300px;
  overflow: hidden;
}

/* The image to be scaled */
.blogimg {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

/* The overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s;
}

/* Hover effect */
.image-container:hover .blogimg {
  transform: scale(1.1);
  /* Adjust the scaling factor as needed */
}

.image-container:hover .overlay {
  opacity: 1;
  /* Show the overlay on hover */
}

.redunderline {
  text-decoration: none;
  position: relative;
}

.redunderline:after {
  position: absolute;
  content: "";
  height: 4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50px;
  background: #E52E06;
  bottom: 20px;
  /* optional animation */
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.3s;
}

.redunderline:hover:after {
  width: 130px;
  background: #E52E06;
}

.discount {
  position: relative;
  text-align: center;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

/* Style the image */
.image {
  width: 100%;
  height: 400px;
  height: auto;
}

/* Style the text overlay */
.discount-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hover effect */
.discount:hover .image {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.Pcontainer {
  transform: translate(-50%, -50%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.radio-button{
	width: 100%;
	display:flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row-reverse;
	font-size: 14px;
	cursor: pointer;
}
.radio-button input{
	display:none;
	width: 0;
	height: 0;
}
.radio-button span{
	width: 17px;
	height: 17px;
	position: relative;
	margin-right: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #e5e5e5;
}
.radio-button input:checked + span:after{
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #ffffff;
}
.radio-button input:checked + span {
	background-color: #FA8232;
}
.radio-button input:disabled + span {
	background-color: #e5e5e5;
}
.radio-button span:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 50%;
	background-color: #FA8232;
}
.radio-button input:checked + span:before {
	animation: growAndFade 0.2s ease-out;
} 
@keyframes growAndFade {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		opacity: 0.5;
		transform: scale(1.5);
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}


.cr-wrapper *,
.cr-wrapper *::before,
.cr-wrapper *::after {
	box-sizing: content-box !important;
}

.cr-wrapper input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.cr-wrapper span {
	font-size: 15px;
}

.cr-wrapper {
	display: table;
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}

.cr-wrapper input[type="checkbox"] ~ .cr-input {
	position: absolute;
	top: 50%;
	left: 0;
	height: 17px;
	width: 17px;
	background: #DEDEDE;
	transition: background 250ms;
	border: 1px solid #DEDEDE;
	border-radius: 3px;
	transform: translate(0, -50%);
}

.cr-wrapper input[type="radio"] ~ .cr-input {
	position: absolute;
	top: 50%;
	left: 0;
	height: 17px;
	width: 17px;
	background: #DEDEDE;
	transition: background 250ms;
	border: 1px solid #DEDEDE;
	border-radius: 20px;
	transform: translate(0, -50%);
}

.cr-wrapper input[type="checkbox"] ~ .cr-input::after {
	content: "";
	position: absolute;
	display: none;
	left: 3px;
	top: 2px;
	width: 12px;
	height: 12px;
	transition: background 250ms;
	background-color: #FFFFFF;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.cr-wrapper input[type="radio"] ~ .cr-input::after {
	content: "";
	position: absolute;
	display: none;
	left: 4px;
	top: 4px;
	width: 12px;
	height: 12px;
	border-radius: 20px;
	background: #FFFFFF;
	transition: background 250ms;
}

.cr-wrapper input:checked ~ .cr-input::after {
	display: block;
}

.cr-wrapper:hover input[type="checkbox"]:not([disabled]) ~ .cr-input,
.cr-wrapper input[type="checkbox"]:focus ~ .cr-input {
	background: #DEDEDE;
	border-color: #DEDEDE;
}

.cr-wrapper:hover input[type="radio"]:not([disabled]) ~ .cr-input,
.cr-wrapper input[type="radio"]:focus ~ .cr-input {
	background: #DEDEDE;
	border-color: #DEDEDE;
}

.cr-wrapper input[type="checkbox"]:checked ~ .cr-input {
	background: #FA8232;
	border-color: #FA8232;
}

.cr-wrapper input[type="radio"]:checked ~ .cr-input {
	background: #FA8232;
	border-color: #FA8232;
}

.cr-wrapper input[type="checkbox"]:disabled ~ .cr-input,
.cr-wrapper input[type="radio"]:disabled ~ .cr-input {
	opacity: 0.5;
	cursor: not-allowed;
}

.cr-wrapper input[type="checkbox"]:disabled ~ span,
.cr-wrapper input[type="radio"]:disabled ~ span {
	opacity: 0.5;
	cursor: not-allowed;
}

.cr-wrapper input[type="checkbox"]:disabled ~ .cr-input::after {
	background: #FFFFFF;
}

.cr-wrapper input[type="radio"]:disabled ~ .cr-input::after {
	background: #FFFFFF;
}

.cr-wrapper:hover input[type="checkbox"]:not([disabled]):checked ~ .cr-input,
.cr-wrapper input[type="checkbox"]:checked:focus ~ .cr-input {
	background: #FA8232;
	border-color: #FA8232;
}

.cr-wrapper:hover input[type="radio"]:not([disabled]):checked ~ .cr-input,
.cr-wrapper input[type="radio"]:checked:focus ~ .cr-input {
	background: #FA8232;
	border-color: #FA8232;
}
